.icm_edit_component {
	border-bottom: 2px solid #ddd;
	padding-bottom: 20px;
	margin-bottom: 10px;
	width: 100%;
	max-width: 600px;
}

.icm_add_component,
.icm_edit_component {
	input {
		width: 100%;
	}
	textarea {
		width: 100%;
		height: 100px;
		max-height: 250px;
		max-width: 600px;
	}
}